*{
	margin: 0;
	padding: 0;
}
body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}
.ifMenu{
	width: 100% !important;
	height: 50px;
}

.ifFooter{
	width: 100% !important;
	height: 340px;
	position: absolute;
	left: 0;
	bottom: 0;
}